.admin-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 1400px;
    text-align: center;
}

/* MENU */
.admin-menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.admin-menu button {
    background: #393e30df;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.admin-menu button:hover {
    background: #191b15df;
}

/* SECTIONS */
.admin-section {
    display: none;
    background: #191b15df;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.admin-section h2 {
    margin-bottom: 20px;
    border-right: 4px solid #393e30df;
    padding-right: 10px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #333;
    padding: 12px;
}


.admin-section {
    max-height: 75vh;
    overflow-y: auto;
    padding-right: 10px;
}


.image-wrapper {
    position: relative;
    min-height: 100vh;   /* به‌جای height */
    overflow-y: auto;
}
