@font-face {
  font-family: 'Vazirmatn';
  src: url('../assets/fonts/vaziri-regular.woff2') format('woff2');
}

body {
    direction: ltr;
    margin: 0;
    font-family: Albert Sans;
}

.image-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}


.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px) brightness(0.85);
    transform: scale(1.05);
}

.section {
    padding: 60px 20px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.machines-section {
    /* padding: 60px 20px; */
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    flex: 1 1 280px;
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 30px 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    color: #111;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.15);
}

.card h2 {
    margin-bottom: 12px;
    font-size: 1.2rem;
}

.card p {
    font-size: 0.9rem;
}

.lab-section {
    background-color: #e8e8e8;
    padding: 60px 20px;
    text-align: center;
}

.lab-section h2 {
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.lab-section p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 0.95rem;
}

nav ul {
    direction: ltr;
    list-style-type: none; /* Remove bullets */
    padding: 5px;
    margin: 0;
    margin-left: 340px;
    display: flex; /* Horizontal layout */
    gap: 50px; /* Space between links */
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #666;
    border-radius: 4px;
}

.ChangeLang {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.ChangeLang:hover {
    background-color: #666;
    border-radius: 4px;
    cursor: pointer;
}

.machine-card {
    flex: 1 1 280px;
    background-color: #f1f1f1;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    color: #111;
    padding: 0;
}

.machine-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.15);
}

.machine-card h3 {
    margin: 16px 0 8px;
    padding: 0 16px;
    font-size: 18px;
}

.machine-card p {
    padding: 0 16px 20px;
    font-size: 15px;
    color: #333;
}

.machine-card img {
  width: 100%;
  height: 320px;
  display: block;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* .machines-section button {
    width: 100%;
    height: 40px;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.3s ease;
}

.machines-section button:hover {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
} */